#candor-popover-phi {
  min-height: 400px;
  padding-top: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

#candor-popover-details {
  margin: 0;
  padding: 10px;
}

#candor-popover-phi ul {
  padding: 10px;
}

#candor-popover-phi ul li, #candor-popover-details li {
  list-style: none !important;
  color: #6493B4;
  padding: 8px 0px;
  border-bottom: 1px solid #F0F4F7;
}

#candor-popover-phi ul li span.pop-label, .candor-popover-label {
  width: 45%;
  display: block;
  float:left;
  color: #A6BDD0;
}

#candor-tooltip-bg {
  min-height: 320px;
  padding-top: 213px;
  font-size: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.candor-popover-danger {
  background: url(https://github.com/WithCandor/assets/blob/main/candor-popover-danger-1x.png?raw=true) #FFFFFF;
  background-position: 0px 0px;
}
.candor-popover-warning {
  background: url(https://github.com/WithCandor/assets/blob/main/candor-popover-warning-1x.png?raw=true) #FFFFFF;
  background-position: 0px 0px;
}
.candor-popover-pending {
  background: url(https://github.com/WithCandor/assets/blob/main/candor-popover-pending-1x.png?raw=true) #FFFFFF;
  background-position: 0px 0px;
}
.candor-popover-safe {
  background: url(https://github.com/WithCandor/assets/blob/main/candor-popover-safe-1x.png?raw=true) #FFFFFF;
  background-position: 0px 0px;
}

.candor-popover-danger-avatar {
  background: url(https://github.com/WithCandor/assets/blob/main/candor-danger-1x.png?raw=true);
  background-position: 0 0;
}
.candor-popover-warning-avatar {
  background: url(https://github.com/WithCandor/assets/blob/main/candor-warning-1x.png?raw=true);
  background-position: 0 0;
}
.candor-popover-pending-avatar {
  background: url(https://github.com/WithCandor/assets/blob/main/candor-pending-1x.png?raw=true);
  background-position: 0 0;
}
.candor-popover-neutral-avatar {
  background: url(https://github.com/WithCandor/assets/blob/main/candor-neutral-1x.png?raw=true);
  background-position: 0 0;
}
.candor-popover-safe-avatar {
  background: url(https://github.com/WithCandor/assets/blob/main/candor-safe-1x.png?raw=true);
  background-position: 0 0;
}

.candor-popover-phi-label {
  padding: 6px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  display: block;
}

.phi-label-danger {
  background: #EF8865;
}
.phi-label-warning {
  background: #002063;
}
.phi-label-neutral, .phi-label-pending, .phi-label-safe {
  background: #779CB9;
}

.ext-etheraddresslookup-link {
  white-space: nowrap;
}

#ext-etheraddresslookup-chain_lookup_form {
  padding: 0 10px;
}

#ext-etheraddresslookup-chain_lookup_form input {
  background: url(/images/candor-icon-light.png) 2px 2px no-repeat #E7EBEE;
  padding-left: 44px;
  border-radius: 20px;
  border-width: 0px;
  font-size: 12px;
  color: #8EABC2;
}

#ext-etheraddresslookup-chain_lookup_form button {
  display: none;
}

.ext-etheraddresslookup-link-highlight {
  padding: 2px;
  background: #F2EAAC;
  color: #000;
  border: 1px solid #C7BC67;
}

.ext-etheraddresslookup-link-no_highlight {
  padding: 0px;
  background: transparent;
  border: 1px solid transparent;
  color: inherit;
}

.ext-etheraddresslookup-warning {
  color: red;
  border-bottom: 1px dashed red;
}

.ext-etheraddresslookup-note {
  font-size: 10pt;
  color: #c2c6c7;
  line-height: 10pt;
}

.ext-etheraddresslookup-note_network_diff {
  display: none;
  margin-top: 0.3em;
  padding-top: 1em;
  color: red;
  font-size: 10pt;
}

#ext-etheraddresslookup-popup {
  margin: 0;
  padding: 0px;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-size: 12pt;
  width: 300px;
}

#ext-etheraddresslookup-chain_lookup_details {
  margin: 0;
  padding: 0;
}

#ext-etheraddresslookup-popup #content {
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  /* background: url(/images/bg.png); */
  /* background-position: 0px 400px; */
  background-repeat: no-repeat;
}

#ext-etheraddresslookup-popup #content #footer {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 70%;
  line-height: 100%;
  color: #99B3C8;
}

#ext-etheraddresslookup-blacklist_domains_stats {
  font-size: 10pt;
  color: #c2c6c7;
  line-height: 10pt;
  padding-left: 3.5em;
  margin-bottom: 10px;
}

#ext-etheraddresslookup-report {
  font-weight: bold;
  color: #7FA1BC;
  font-size: 10px;
}

.ext-etheraddresslookup-center {
  text-align: center;
  /* padding-bottom: 10px; */
}

#ext-etheraddresslookup-bookmarks {
  /* margin-bottom: 10px; */
}

.ext-etheraddresslookup-bookmark_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.ext-etheraddresslookup-bookmark_icon:hover {
  opacity: 0.5;
}

.ext-etheraddresslookup-bookmark_icon:nth-child(2n) {
  margin-left: 15px;
  margin-right: 15px;
}

#ext-etheraddresslookup-bookmark_modify_window {
  display: none;
  color: #252428;
  margin-top: 5%;
  padding: 15px 5%;
  background: #e4e4e4;
}

.ext-etheraddresslookup-blockie {
  width: 1em;
  height: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.6) 0 2px 2px, inset rgba(0, 0, 0, 0.3) 0 -2px 6px;
          box-shadow: inset rgba(255, 255, 255, 0.6) 0 2px 2px, inset rgba(0, 0, 0, 0.3) 0 -2px 6px;
  display: inline-block;
  margin-bottom: -0.2em;
}

#ext-etheraddresslookup-choose_blockchain {
  margin-top: 0;
  margin-bottom: 0;
}

/*Labels*/
@media print {
  .ext-etheraddresslookup-label {
    border: 1px solid #000;
  }
}

.ext-etheraddresslookup-label {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.ext-etheraddresslookup-label[data-fill-label-input] {
  cursor: pointer;
}

.ext-etheraddresslookup-label:empty {
  display: none;
}

.ext-etheraddresslookup-label-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

/*Popovers*/
.ext-etheraddresslookup-popover *,
.ext-etheraddresslookup-popover *::before,
.ext-etheraddresslookup-popover *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.ext-etheraddresslookup-popover.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.ext-etheraddresslookup-popover.fade.show {
  opacity: 1;
}

.ext-etheraddresslookup-popover h3 {
  orphans: 3;
  widows: 3;
}

.ext-etheraddresslookup-popover h3 {
  page-break-after: avoid;
}

.ext-etheraddresslookup-popover h3 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.ext-etheraddresslookup-popover h3, .h3 {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-kerning: 38px;
  letter-spacing: -0.5;
  color: #0F3984;
  line-height: 1.1;
}

#ext-etheraddresslookup-logo {
  background: url(/images/candor-logo.png);
  /* background-size: 5%; */
  background-position: left;
  background-size: 40%;
  background-repeat: no-repeat;
  height: 28px;
}

#ext-etheraddresslookup-logo h1 {
  display: none;
}

#ext-etheraddresslookup-logo .description {
  float: right;
  text-align: right;
}

.ext-etheraddresslookup-popover .close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1rem;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.ext-etheraddresslookup-popover .close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
}

.ext-etheraddresslookup-popover button.close {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.ext-etheraddresslookup-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  padding: 1px;
  font-family: 'Poppins', "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.ext-etheraddresslookup-popover .arrow {
  position: absolute;
  display: block;
  width: 10px;
  height: 5px;
}

.ext-etheraddresslookup-popover .arrow::before,
.ext-etheraddresslookup-popover .arrow::after {
  position: absolute;
  display: block;
  border-color: transparent;
  border-style: solid;
}

.ext-etheraddresslookup-popover .arrow::before {
  content: "";
  border-width: 11px;
}

.ext-etheraddresslookup-popover .arrow::after {
  content: "";
  border-width: 11px;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-top,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="top"] {
  margin-bottom: 10px;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-top .arrow,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="top"] .arrow {
  bottom: 0;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-top .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="top"] .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-top .arrow::after,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="top"] .arrow::after {
  border-bottom-width: 0;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-top .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="top"] .arrow::before {
  bottom: -11px;
  margin-left: -6px;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-top .arrow::after,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="top"] .arrow::after {
  bottom: -10px;
  margin-left: -6px;
  border-top-color: #fff;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-right,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="right"] {
  margin-left: 10px;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-right .arrow,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="right"] .arrow {
  left: 0;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-right .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="right"] .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-right .arrow::after,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="right"] .arrow::after {
  margin-top: -8px;
  border-left-width: 0;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-right .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="right"] .arrow::before {
  left: -11px;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-right .arrow::after,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="right"] .arrow::after {
  left: -10px;
  border-right-color: #fff;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-bottom,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="bottom"] {
  margin-top: 10px;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-bottom .arrow,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="bottom"] .arrow {
  top: 0;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-bottom .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="bottom"] .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-bottom .arrow::after,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="bottom"] .arrow::after {
  margin-left: -7px;
  border-top-width: 0;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-bottom .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="bottom"] .arrow::before {
  top: -11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-bottom .arrow::after,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="bottom"] .arrow::after {
  top: -10px;
  border-bottom-color: #fff;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-bottom .ext-etheraddresslookup-popover-header::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="bottom"] .ext-etheraddresslookup-popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 20px;
  margin-left: -10px;
  content: "";
  border-bottom: 1px solid #f7f7f7;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-left,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="left"] {
  margin-right: 10px;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-left .arrow,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="left"] .arrow {
  right: 0;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-left .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="left"] .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-left .arrow::after,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="left"] .arrow::after {
  margin-top: -8px;
  border-right-width: 0;
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-left .arrow::before,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="left"] .arrow::before {
  right: -11px;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-left .arrow::after,
.ext-etheraddresslookup-popover.bs-ext-etheraddresslookup-popover-auto[x-placement^="left"] .arrow::after {
  right: -10px;
  border-left-color: #fff;
}

.ext-etheraddresslookup-popover-header {
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: 1rem;
  color: inherit;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.ext-etheraddresslookup-popover-header:empty {
  display: none;
}

.ext-etheraddresslookup-popover-body {
  padding: 9px 14px;
  color: #212529;
}

/*Tabs*/
.ext-etheraddresslookup-nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none !important;
}

.ext-etheraddresslookup-nav li {
  list-style: none !important;
}

.ext-etheraddresslookup-nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.ext-etheraddresslookup-nav-link:focus,
.ext-etheraddresslookup-nav-link:hover {
  text-decoration: none;
}

.ext-etheraddresslookup-nav-link.disabled {
  color: #868e96;
}

.ext-etheraddresslookup-nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.ext-etheraddresslookup-nav-tabs .ext-etheraddresslookup-nav-item {
  margin-bottom: -1px;
  font-size: 10pt;
}

.ext-etheraddresslookup-nav-tabs .ext-etheraddresslookup-nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.ext-etheraddresslookup-nav-tabs .ext-etheraddresslookup-nav-link:focus,
.ext-etheraddresslookup-nav-tabs .ext-etheraddresslookup-nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.ext-etheraddresslookup-nav-tabs .ext-etheraddresslookup-nav-link.disabled {
  color: #868e96;
  background-color: transparent;
  border-color: transparent;
}

.ext-etheraddresslookup-nav-tabs .ext-etheraddresslookup-nav-link.active,
.ext-etheraddresslookup-nav-tabs .ext-etheraddresslookup-nav-item.show .ext-etheraddresslookup-nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.ext-etheraddresslookup-nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ext-etheraddresslookup-tab-content > .ext-etheraddresslookup-tab-pane {
  display: none;
  font-size: 10pt;
}

.ext-etheraddresslookup-tab-content > .active {
  display: block;
}

.ext-etheraddresslookup-tab-content .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.ext-etheraddresslookup-tab-content .fade.show {
  opacity: 1;
}

.ext-etheraddresslookup-tab-content.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

#ext-etheraddresslookup-chain_lookup_container button {
  width: 100%;
}

#ext-etheraddresslookup-chain_lookup_container {
  color: #0F3984;
}

#ext-etheraddresslookup-chain_lookup_output {
  width: 100%;
  font-size: 80%;
  word-break: break-word;
  background: url(/images/candor-home-2.png) no-repeat top center;
  min-height: 280px;
}

#ext-etheraddresslookup-chain_lookup_output .error {
  color: #ED2E2E;
}

#ext-etheraddresslookup-chain_lookup_output .blockie {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  border-radius: 50%;
}

#ext-etheraddresslookup-chain_lookup_output #additional_details {
  padding-top: 1em;
}

#ext-etheraddresslookup-new-labels option {
  color: #ffffff;
}

#ext-etheraddresslookup-new-labels button {
  width: 100%;
}

#ext-etheraddresslookup-popup .btn-success {
  background-color: #ffa67F;
}

.ext-etheraddresslookup-address_stats_hover {
  z-index: 10;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ext-etheraddresslookup-address_stats_hover .ext-etheraddresslookup-address_stats_hover_content {
  all: initial;
  display: none;
  position: absolute;
  font-family: 'Poppins', 'Arial', sans-serif; 
  bottom: 5%;
  left: 5%;
  right: 5%;
  top: 10%;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  padding: 0;
  z-index: 99999;
  width: 220px;
  height: 340px;
  border: 1px solid #D3DEE5;
  /* border: 2px solid #e4e4e4; */
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ext-etheraddresslookup-0xaddress.ext-etheraddresslookup-display-popup > .ext-etheraddresslookup-address_stats_hover .ext-etheraddresslookup-address_stats_hover_content {
  display: inline-block;
}

.ext-etheraddresslookup-address_stats_hover .ext-etheraddresslookup-address_stats_hover_content > span {
  all: initial;
  font-size: 12px;
  text-decoration: none;
  display: block;
  line-height: 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ext-etheraddresslookup-address_stats_hover .ext-etheraddresslookup-address_stats_hover_content > a > img {
  display: inline;
  width: 100px;
  height: 22px;
  bottom: 0%;
  right: 5%;
  position: absolute;
  margin: 0;
}

.ext-etheraddresslookup-address_stats_hover .ext-etheraddresslookup-address_stats_hover_node_error {
  all: initial;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 12px;
  width: auto;
  position: absolute;
  right: 5%;
  display: none;
  z-index: 2;
  color: #fff;
  padding: 3px;
  font-size: 8pt;
  clear: both;
}

.ext-etheraddresslookup-address_stats_hover .ext-etheraddresslookup-address_stats_hover_node_ok {
  all: initial;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 12px;
  width: auto;
  position: absolute;
  right: 5%;
  display: none;
  z-index: 2;
  color: #fff;
  padding: 3px;
  font-size: 8pt;
  clear: both;
}

#ext-etheraddresslookup-tip_box {
  background: #00c2c1;
  padding: 1px;
  color: #fff;
}

#ext-etheraddresslookup-tip_box a {
  color: #fff;
  text-decoration: underline;
}

div.candor-report-danger {
  background: url(/images/candor-app-issue.png) 8px 10px no-repeat #F4F4F4;
  border-radius: 10px;
  color: #7FA1BC;
  font-size: 11px;
  padding: 10px 5px 10px 80px;
  margin: 0px 10px;
  height: 80px;
}

/*# sourceMappingURL=app.css.map */